*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body
{
     color:rgb(65, 63, 63);
     position:relative;
   
}
h1
{
     Color:rgb(255, 255, 255);
    font-size: 2.5rem;
}
h2
{
     color:#512BD4;
          font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
    font-size : 2rem;
}
h3
{
     Color:orangered;
    font-size:1.7rem;
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
}
h4
{
     Color:#512BD4;
     font-size:1.5rem;
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
}
h5
{
         Color:#512BD4;;
    font-size:0.5rem;
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
}
p{

     font-weight: 600;
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
}
header 
{
  
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;

    
   background-image:url("/assets/images/dotnet_conf_2022.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
   height:50h;
   background-color: #512BD4
   
   

}
#header-title
{
   display:inline-block;
   width:50%;
   height:30vh;
   margin-top:10%;
   margin-bottom:5%;
   margin-left:2%;
   padding:3%;
   
}
a
{
    text-decoration: none;

}



.container h2
{
    margin: 7% 2%;
}

.container .section-container
{
    border-radius: 5px;

    margin:3%  5%;
    padding:30px;
}
.container h3
{
    margin-bottom:3%
}
.container p span
{
    color :#512BD4
}
a
{
    text-decoration: none;
     font-family: "Segoe UI Variable", "Segoe UI", system-ui, 
           "Helvetica Neue", Arial, sans-serif;
           color:orangered;
            position:sticky;
       
            bottom:10px;
            right:10px;
}
#back-button {
    position: fixed;
    bottom: 120px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 10px; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    cursor: pointer;
}
#back-button:hover
{
    box-shadow: 0 0 10px #512BD4;
}
footer
{
    height:10vh;
    background-color: #512BD4;
    color:white;
    
    display:flex;
    align-items: center;
}


footer p 
{
    font-size: 20px;
}

.footer 
{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 2%;
}
.img
{
    width: 50px;
    height: 50px;
}
.footer p 
{

    margin-left:10px;
}
.img:hover
{
      width: 52px;
    height: 52px;
}